header {
   
    @media  screen and (min-width: 900px) {
        height: auto;
    }
  }
  
.navbar{
    backdrop-filter: blur(4px) ;
    -webkit-backdrop-filter: blur(4px); /* Add support for Safari */
}
.app__navbar-menu{
  display: flex;
  flex-direction: column;
  background-color: #f2f7fb;
  align-items: center;
  @media  screen and (min-width: 900px) {
    display: none;
}
}
.app__navbar-menuOne {
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    background-color: #00A9FF;
    display: flex;
    justify-content: center;
    align-items: center;
    @media  screen and (min-width: 900px) {
        display: none;
    }
}
.app__navbar-menuOne svg {
    fill: white; /* Change the fill color of the SVG */
    width: 20px; /* Adjust the width of the SVG */
    height: 20px; /* Adjust the height of the SVG */
    transition: fill 0.3s; /* Add transition effect to the fill property */
  }
  .app__navbar-menuOne:hover svg {
    fill: red; /* Change the fill color when hovering over the element */
  }
